Calculate the Word Frequencies in a string

In [8]:
def wordCont(string):
  words = string.split()
  contDict = {}
  punctuations = ['.',',','?','!']
  for i in words:
    if i in contDict.keys():
      contDict[i]+=1
    else:
      if i[-1] in punctuations:
        contDict.update({i[0:-1] : 1})
      else:
        contDict.update({i : 1})
  print(f'Word Frequencies : {contDict}')
  
  
string = 'this is  a word count program. this is a python program? yes this is a python program.'
wordCont(string)

Word Frequencies : {'this': 3, 'is': 3, 'a': 3, 'word': 1, 'count': 1, 'program': 1, 'python': 2, 'yes': 1}

Result Calculation. Create a dictionary and a list like following:
Student = { 'UE183001': 'Avish', 'UE183002': 'Bhavya', 'UE183003': 'Tanya' } Add atleast 10 students
Marks = [('UE183001', 'CS', 94 ), ('UE183002', 'CS', 64 ), ('UE183001', 'RV', 94), ('UE183002', 'CS', 74), ('UE183003', 'CS', 64)]
Find total marks of each students and display full name of student with total marks secured. This is the basic relational database join algorithm between two tables.

In [27]:
Student={'UE163001':'Naman','UE163002':'Rahul',
         'UE163003':'Rehan','UE163004':'Vartika',
         'UE163005':'Sahil','UE163006':'Shivam',
         'UE163007':'Suneet','UE163008':'Vaibhav',
         'UE163009':'Vishal','UE163010':'Aditya'}

Marks=[('UE163001','CS',85),('UE163001','DM',85),
       ('UE163002','CS',82),('UE163002','DM',83),
       ('UE163003','CS',91),('UE163003','DM',95),
       ('UE163004','CS',98),('UE163004','DM',94),
       ('UE163005','CS',92),('UE163005','DM',90),
       ('UE163006','CS',82),('UE163006','DM',88),
       ('UE163007','CS',98),('UE163007','DM',97),
       ('UE163008','CS',95),('UE163008','DM',87),
       ('UE163009','CS',86),('UE163009','DM',88),
       ('UE163010','CS',95),('UE163010','DM',92)]

"""
FOR DYNAMIC INPUT
def cast(entry):
  entry[2] = int(entry[2])
  return entry

Student = {input(f'enter the {i + 1} students roll no. and name : ')for i in range(int(input('enter the number of students = ')))}
Marks = [tuple(cast(input(f'enter the {j + 1} entry : ').split(',')))for j in range(int(input('enter the number of students = '))*int(input('enter the number of subjects : ')))]
print(f'Students : {Student}')
print(f'Marks : {Marks}')"""



def resultCal(Student,Marks):
  result = {}
  for i in Marks:
    if i[0] in result.keys():
      result[i[0]]+=i[2]
    else:
      result.update({i[0]:i[2]})
  return result
      
def disp_result(Student,result):
  print('Result of each student : ')
  for i in Student:
    print(f'{Student[i]} : {result[i]}')

disp_result(Student,resultCal(Student,Marks))

Result of each student :
Naman : 170
Rahul : 165
Rehan : 186
Vartika : 192
Sahil : 182
Shivam : 170
Suneet : 195
Vaibhav : 182
Vishal : 174
Aditya : 187

A date of the form 8-MAR-85 includes the name of the month, which must be translated to a number i.e, Translate the month, correct the year to include all of the digits.The function will accept a date in the "dd-MMM-yy" format and respond with a tuple of ( y , m , d ).

In [5]:
month = {'JAN' : 1, 'FEB' : 2, 'MAR' : 3, 'APR' : 4, 'MAY' : 5, 'JUN' : 6,
         'JUL' : 7, 'AUG' : 8, 'SEP' : 9, 'OCT' : 10, 'NOV' : 11, 'DEC' : 12}

def Translate(string):
  date = string.split('-')
  if date[2] in range(0,19):
    yr = '20' + date[2]
  else:
    yr = '19' + date[2]
  return tuple((int(yr),month[date[1]],int(date[0])))

print(f'Translated date : {Translate("8-MAR-85")}')
print(f'Translated date : {Translate("8-APR-19")}')
print(f'Translated date : {Translate("25-AUG-98")}')
print(f'Translated date : {Translate("9-SEP-98")}')

Translated date : (1985, 3, 8)
Translated date : (1919, 4, 8)
Translated date : (1998, 8, 25)
Translated date : (1998, 9, 9)

Create a dict of all combinations, using the sum of the two dice as the key. Each value in the dict should be a list of tuples; each tuple has the value of two dice.

In [12]:
diceSum ={}

for i in range(1,7):
  for j in range(1,7):
    if (i + j) in diceSum.keys():
      diceSum[(i + j)].append(tuple((i,j)))
    else:
      diceSum.update({(i + j) : list(tuple((i,j)))})
      
for i in diceSum:
  print(f'{i} : {diceSum[i]}')

2 : [1, 1]
3 : [1, 2, (2, 1)]
4 : [1, 3, (2, 2), (3, 1)]
5 : [1, 4, (2, 3), (3, 2), (4, 1)]
6 : [1, 5, (2, 4), (3, 3), (4, 2), (5, 1)]
7 : [1, 6, (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)]
8 : [2, 6, (3, 5), (4, 4), (5, 3), (6, 2)]
9 : [3, 6, (4, 5), (5, 4), (6, 3)]
10 : [4, 6, (5, 5), (6, 4)]
11 : [5, 6, (6, 5)]
12 : [6, 6]