In [27]:
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [0]:
import pandas as pd
import numpy as np

In [29]:
path = '/gdrive/My Drive/Top 100 Private Colleges.2003.csv'
colleges = pd.read_csv(path)
print(colleges.columns)

Index(['Overall Rank', 'School', 'State', 'Undergrad. Enrollment',
       'Admission Rate', '*SAT or ACT', 'Student/faculty Ratio',
       '4-year Grad. Rate', '6-year Grad. Rate', 'Quality Rank', 'Total Costs',
       'Cost After Need-based Aid', 'Need Met', 'Aid From Grants',
       'Cost After Non-Need-Based Aid', 'Non-Need-Based Aid+', 'Average Debt',
       'Cost Rank'],
      dtype='object')

In [0]:
colleges = colleges.drop([100, 101])

List the top 10 quality ranked colleges

In [4]:
l = []
(x,y) = colleges.shape
for i in range(x):
  if colleges.at[i,'Overall Rank'] in range(1,11):
    l.append([colleges.at[i, 'Overall Rank'],colleges.at[i, 'School']])
df = pd.DataFrame(l, columns = ['Overall Rank', 'School'])
print(df)

   Overall Rank                              School
0           1.0  California Institute of Technology
1           2.0                     Rice University
2           3.0                    Williams College
3           4.0                  Swarthmore College
4           5.0                     Amherst College
5           6.0                      Webb Institute
6           7.0                     Yale University
7           8.0       Washington and Lee University
8           9.0                  Harvard University
9          10.0                 Stanford University

List all the colleges in California

In [5]:
l1 = []
for i in range(x):
  if colleges.at[i,'State'] == 'CA':
    l1.append([colleges.at[i, 'School'], colleges.at[i, 'State']])
df1 = pd.DataFrame(l1, columns= ['School', 'State'])
print(df1)

                               School State
0  California Institute of Technology    CA
1                 Stanford University    CA
2                      Pomona College    CA
3           Claremont McKenna College    CA
4                 Harvey Mudd College    CA
5   University of Southern California    CA
6                     Scripps College    CA

In [0]:
def to_int(x):
  temp = ''
  i = 0
  while i < len(x):
    if x[i] >= '0' and x[i] <= '9':
      temp = temp + x[i]
    i+=1
  return(temp)

Which college has lowest average debt?

In [0]:
i = 0
while i < len(colleges.index):
  if type(colleges.at[i, 'Average Debt']) == float:
    colleges.at[i, 'Average Debt'] = colleges.at[i, 'Average Debt']
  else:
    colleges.at[i, 'Average Debt'] = to_int(colleges.at[i, 'Average Debt'])
  i+=1
  
colleges['Average Debt'] = pd.to_numeric(colleges['Average Debt'])

In [11]:
i = colleges['Average Debt'].idxmin()
print(f'college with minimum Average Debt : {colleges.at[i, "School"]}')

college with minimum Average Debt : Washington University

 List bottom 10 cost rank colleges

In [17]:
colleges.sort_values(by = 'Cost Rank').tail(10)['School']

33                    Brown University
26                   Dartmouth College
22          University of Pennsylvania
97    Rensselaer Polytechnic Institute
40                  Cornell University
99    The George Washington University
32               Georgetown University
36                  Middlebury College
41                 Wesleyan University
90                 New York University
Name: School, dtype: object

Among colleges having more than 2000 undergraduates, which has highest faculty/student ratio.

In [26]:
l = []
for i in colleges.index:
  if colleges.at[i, 'Undergrad. Enrollment'] > 2000:
    l.append([colleges.at[i, 'Student/faculty Ratio'], colleges.at[i, 'School']])
l = pd.DataFrame(l, columns = ['Student/faculty Ratio', 'School'])
l.sort_values(by = 'Student/faculty Ratio').tail(1)['School']

37    Brigham Young University
Name: School, dtype: object

OR

In [34]:
i = colleges[colleges['Undergrad. Enrollment'] > 2000]['Student/faculty Ratio'].idxmax()
print(colleges.at[i, 'School'])

Brigham Young University

Which college has aid in grant more than 80% and costliest in total cost?

In [35]:
for i in colleges.index:
  if type(colleges.at[i, 'Total Costs']) != float:
    colleges.at[i, 'Total Costs'] = to_int(colleges.at[i, 'Total Costs'])
  if type(colleges.at[i, 'Aid From Grants']) != float:
    colleges.at[i, 'Aid From Grants'] = to_int(colleges.at[i, 'Aid From Grants'])

colleges['Total Costs'] = pd.to_numeric(colleges['Total Costs'])
colleges['Aid From Grants'] = pd.to_numeric(colleges['Aid From Grants'])

i = colleges[colleges['Aid From Grants'] > 80]['Total Costs'].idxmax()
print(colleges.at[i, 'School'])

Brown University

Among top 50 quality rank colleges, which has lowest total cost

In [36]:
i = colleges[colleges['Quality Rank'] < 50]['Total Costs'].idxmin()
print(colleges.at[i, 'School'])

Webb Institute